<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Legacy agent deprecated 2018-10-31 -->
    <% if (htmlWebpackPlugin.options._trackJSToken) { %>
<script>
  window._trackJs = {
    token: '<%=htmlWebpackPlugin.options._trackJSToken%>'
    // for more configuration options, see https://docs.trackjs.com
  };
</script>
<script src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
<% } %>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Users</h1>
    <table>
      <thead>
        <th>&nbsp;</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </thead>
      <tbody id="users">

      </tbody>
    </table>
   <!--<script src="bundle.js"></script> -->
  </body>
</html>
